<form action="#" data-abide novalidate class="estimate-form"  id="projectD" autocomplete="off">
    <h2><span class="primary-text">You Selected:</span> Add on New hardwood flooring and refinish existing hardwood</h2>
    {% set type = "D" %}
    {% set price_key = "site_finished_price" %}
    {% set price_key2 = "refinish_price" %}
    {% include 'partials/estimator/fields/species.html.twig' %}
    {% include 'partials/estimator/fields/width.html.twig' %}
    {% include 'partials/estimator/fields/stain.html.twig' %}
    {% include 'partials/estimator/fields/finish.html.twig' %}
    {% include 'partials/estimator/fields/square-installation.html.twig' %}
    {% include 'partials/estimator/fields/square-refinish.html.twig' %}
    {% include 'partials/estimator/fields/removal.html.twig' %}
    {% include 'partials/estimator/fields/baseboard.html.twig' %}

    <div class="navigation">
        <a href="#" class="button prev">PREVIOUS</a>
        <button class="button next" type="submit">NEXT</button>
    </div>
</form>