.archive-navigation {
  margin: $global-margin*3 auto 0;
  input[type=text] {
    border: #e7e7e7;
  }
  .button[type=submit] {
    background-color: $brown;
    &:hover {
      background-color: darken($brown, 10%);
    }
  }
  .button.hollow.secondary {
    border-color: #e7e7e7;
    width: 100%;
    @include breakpoint(medium) {
      width: auto;
    }
  }
  .button::after {
    border-color: $secondary-color transparent transparent;
  }
  .prev-next {
    color: $red;
    text-align: center;
    .dropdown.button {
      width: 100%;
    }
    a:first-of-type {
      float: left;
    }
    a:last-of-type {
      float: right;
      margin-left: $global-padding*2;
    }
    @include breakpoint(medium) {
      a:first-of-type, a:last-of-type {
        float: none;
      }
      text-align: left;
      float: right;
    }
  }
}