.cta {
  background: -moz-linear-gradient(left, #926453 50%, #83290E 50%);
  background: -webkit-gradient(linear, left top, right top, from(#926453), color-stop(.5, #926453), color-stop(.5, #83290E));
  text-align: center;
  a {
    display: inline-block;
    position: relative;
  }
  .columns {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .price {
    background-color: #926453;
  }
  .schedule {
    background-color: #A74021;
  }
  .call {
    background-color: #83290E;
  }
  @include breakpoint(medium) {
    text-align: left;
  }
}