.hero.slides {
  margin-bottom: 0;
  .slide {
    position: relative;
  }
  img {
    width: 100%;
  }
  .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  .content-center {
    max-width: rem-calc(1000px);
    margin: 0 auto;
    text-align: center;
    font-size: rem-calc(14px);
    color: $white;
    @include breakpoint(large) {
      font-size: rem-calc(28px);
    }
  }
  p {
    margin: 0;
  }
  h1 {
    font-size: rem-calc(18px);
    text-transform: uppercase;
    color: $white;
    margin: 0;
    @include breakpoint(medium) {
      font-size: rem-calc(32px);
      margin: 0 0 $global-margin*2 0;
    }
    @include breakpoint(large) {
      font-size: rem-calc(50px);
      margin: 0 0 rem-calc(42px) 0;
    }
  }
  .tagline {
    display: none;
    @include breakpoint(large) {
      display: block;
      margin: 0 0 rem-calc(60px) 0;
    }
  }
  a.button {
    display: none;
    font-size: rem-calc(12px);
    color: $white;
    background-color: transparent;
    border: 2px solid $white;
    @include breakpoint(medium) {
      display: inline-block;
      font-size: rem-calc(18px);
    }
  }
}