.services {
  padding-top: $global-margin*2;
  padding-bottom: $global-margin*3;
  .columns {
    position: relative;
  }
  .warranty {
    position: relative;
    text-align: center;
    img, .tooltip {
      cursor: pointer;
    }
    .top.tooltip {
      background-color: $tan;
      color: $primary-color;
      max-width: 420px !important;
      padding: $global-margin;
      top: auto;
      bottom: 80%;
      &::before {
        border-color: $tan transparent transparent;
        left: rem-calc(78px);
      }
    }
    img {
      margin-bottom: $global-margin;
      @include breakpoint(medium) {
        margin-bottom: 0;
      }
    }
    @include breakpoint(medium) {
      top: -2rem;
      margin-bottom: -2rem;
      text-align: left;
    }
  }
  .title {
    text-align: center;
    small {
      display: block;
      line-height: 1;
    }
    @include breakpoint(medium) {
      position: absolute;
      top: 50%;
      left: calc(50%);
      transform: translateY(-50%);
    }
  }
  .content {
    @include breakpoint(medium) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .column {
    margin-bottom: rem-calc(30px);
    @include breakpoint(large) {
      margin-bottom: 0;
    }
  }
  .box {
    display: block;
    position: relative;
    color: $white;
    img {
      width: 100%;
    }
    p {
      margin: 0;
    }
    .details {
      background-color: rgba(0,0,0,0.8);
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: rem-calc(10px);
    }
    .title1, .title2 {
      line-height:1.2;
      text-transform: uppercase;
      font-size: rem-calc(18px);
    }
    .description {
      display: none;
      font-size: rem-calc(14px);
      p {
        line-height:1.2;
      }
    }
    .button {
      display: none;
      font-size: rem-calc(12px);
    }
    @include breakpoint(large) {
      &:hover {
        .details {
          top: 0;
        }
        .title2 {
          margin-bottom: rem-calc(4px);
        }
        .description {
          display: block;
          margin-bottom: rem-calc(9px);
        }
        .button {
          display: inline-block;
        }
      }
    }
  }
}