.testimonial {
  p::before {
    content: '';
    background-image: url('../images-min/quote.min.png');
    line-height: 0;
    display: inline-block;
    padding-right: 1rem;
    width: 28px;
    height: 20px;
  }
  @include breakpoint(large) {
    max-width: 340px;
  }
}
.block.testimonial {
  position: relative;
  text-align: center;
  padding: $global-padding*4 $global-padding $global-padding*2;
  max-width: none;
  background-color: $white;
  border: 1px solid #d9d9c6;
  margin-top: $global-padding * 3;
  img {
    position: absolute;
    bottom: 100%;
    left:50%;
    transform: translateY(50%)+translateX(-50%);
    border-radius: 100%;
  }
}