<div class="row archive-navigation">
    <div class="medium-4 columns large-3 columns">
        {% include 'partials/search.html.twig' %}
    </div>
    <div class="medium-4 large-3 columns">
        {% include 'partials/category.html.twig' %}
    </div>
    <div class="medium-4 colomns large-6 columns">
        {% if wp_is_single() %}
            {% include 'partials/prev-next.html.twig' %}
        {% endif %}
    </div>
</div>