@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// colors
// ------
$red: #BC0606;// links and large red headings
$red-dark: #83290e;// small red headings
$tan: #eaeae5;//background tan
$tan-dark: #d3d3bb;// footer background and tan heading in colored sections
$brown: #A97C50;// links in footer and tan sections/button
$brown-light: #b4916b;// testimonial
$gray-font: #4a4a4a;// body font

$foundation-palette: (
  primary: $red,
  brown: $brown,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
  white: #FEFEFE,
  tan: $tan-dark,
);

// fonts
$body-font-color: $gray-font;
$header-color: $red;
$body-font-family: 'Montserrat', sans-serif;
$header-font-family: 'Montserrat', sans-serif;

$header-sizes: (
  'h1': 36,
  'h2': 30,
  'h3': 24,
  'h4': 18
);

// breakpoints
$breakpoints: (
    small: 0,
    medium: 680px,
    large: 1200px,
    xlarge: 1440px,
    xxlarge: 1640px,
);

// pagination
$pagination-item-color: #999999;
$pagination-item-background-current: $brown;