@import "font-awesome";
@import "settings";
@import "foundation";
@include foundation-everything();
@import "classes";
@import "modules/comment-respond";
@import "modules/cta";
@import "modules/header";
@import "modules/footer";
@import "modules/hero-slider";
@import "modules/hero-title";
@import "modules/archive-navigation";
@import "modules/services";
@import "modules/recent";
@import "modules/why";
@import "modules/generic-content";
@import "modules/testimonial";
@import "modules/boxed-teaser";
@import "modules/single-post";
@import "modules/single-cases";
@import "modules/warranty";
@import "modules/estimates";

.estimate-form {
  display: none;
  &:first-of-type {
    display: block;
  }
  .yes {
    display: none;
  }
}
.estimate-details, .estimate-details .estimate-form, .submit {
  display: none;
}
#projectType {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
  small {
    color: $body-font-color;
    display: block;
    line-height: 1;
  }
}
h2, h3, h4, h5, h6 {
  color: $red-dark;
}
h1 {
  font-size: rem-calc(36px);
  small {
    font-size: rem-calc(30px);
  }
}

blockquote {
  border: none;
  padding: 0;
  p {
    color: $body-font-color;
    font-size: rem-calc(20px);
    font-style: italic;
  }
  cite {
    font-size: rem-calc(20px);
    color: $brown-light;
    font-style: normal;
  }
}

.slick-slide {
  height: auto;
}

.accordion {
  border: none;
  background-color: transparent;
  margin-bottom: $global-margin*2;
  .accordion-title, .accordion-content {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
  }
  .accordion-title {
    font-family: $body-font-family;
    border: none;
    margin-top: $global-margin * 2;
    padding: 0 0 0 rem-calc(20px);
    font-size: rem-calc(18px);
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
    &::before {
      right: auto;
      left: 0;
      top: 50%;
      bottom: auto;
      content: "\f067";
      font-family: "FontAwesome";
      display: block;
      position: absolute;
    }
  }
  .is-active .accordion-title {
    background-color: transparent;
    &::before {
      content: "\f068";
      font-family: "FontAwesome";
    }
  }
  .accordion-content {
    font-size: rem-calc(15px);
    border: none;
    padding: 0;
    p {
      margin: 0;
    }
  }
  @include breakpoint(medium) {
    margin-bottom: 0;
  }
}

.pagination {
  margin-top: $global-margin * 3;
  li {
    display: inline-block;
  }
}

.share {
  .st_email_custom, .st_facebook_custom,
  .st_linkedin_custom, .st_twitter_custom,
  .st_googleplus_custom {
    background-color: #000;
    color: $white;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-right: $global-margin/2;
    cursor: pointer;
    &:last-of-type {
      margin-right: 0;
    }
    &.st_email_custom {
      background-color: #728a8d;
      &:hover {
        background-color: darken(#728a8d, 10%);
      }
    }
    &.st_facebook_custom {
      background-color: #395799;
      &:hover {
        background-color: darken(#395799, 10%);
      }
    }
    &.st_linkedin_custom {
      background-color: #0076b7;
      &:hover {
        background-color: darken(#0076b7, 10%);
      }
    }
    &.st_twitter_custom {
      background-color: #50aaf0;
      &:hover {
        background-color: darken(#50aaf0, 10%);
      }
    }
    &.st_googleplus_custom {
      background-color: #dd4c3b;
      &:hover {
        background-color: darken(#dd4c3b, 10%);
      }
    }
    .fa {
      position: relative;
      top: 8px;
    }
  }
}

.close-button {
  top: 2rem;
  width: 59px;
  height: 60px;
  background-image: url('../images-min/close.min.png');
  background-repeat: no-repeat;
}
.close-button-wrapper {
  position: relative;
}
.reveal-content {
  position: relative;
  top: 25%;
}