@import "font-awesome";
@import "settings";
@import "foundation";
@include foundation-everything();
@import "classes";
@import "modules/cta";
@import "modules/header";
@import "modules/footer";
@import "modules/hero-slider";
@import "modules/services";

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}
h2, h3, h4, h5, h6 {
  color: $red-dark;
  small {
    color: $body-font-color;
  }
}

.slick-slide {
  height: auto;
}