{% extends 'base.html.twig' %}
{% block content %}
    <h1>Blogs</h1>
    <section class="case">
        <div class="row column">
            {% for case in cases %}
                {{ case | raw }}
            {% endfor %}
        </div>
    </section>
{% endblock %}