{% extends 'base.html.twig' %}
{% block content %}
    <section class="generic-content">
        <div class="row column text-center">
            {{ message | raw }}
        </div>
    </section>
{% endblock %}